$primary-color: blue;
$second-color: red;

@import 'aditional';

h1 {
    color: $primary-color;
    text-decoration: underline;
}

ul {
    
    li {
        text-decoration: none;
        font-size: 50%;
        color: $second-color;
    }
}