a, a:visited, a:link, a:active {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

a:hover {
  color: black;
}

/*
li:first-of-type {
    a {
        color: $color-youtube;
    }
}

li:first-of-type + li {
    a {
        color: $color-facebook;
    }
}

li:first-of-type + li + li {
    a {
        color: $color-google;
    }
}
*/
a[href="https://www.youtube.com/"] {
  color: red;
}

a[href="https://es-la.facebook.com/"] {
  color: blue;
}

a[href="https://www.google.com/"] {
  color: green;
}
